<!doctype html>
<title>Renewal Therapy Payroll</title>
{% for period in pay_periods %}
    <h2>Payroll for {{period.start_date_display}} through {{period.end_date_display}}</h2>
    {% for name, aloc in period.allocations %}
        <p>{{name}}: ${{aloc}}</p>
    {% endfor %}
    <!-- <a href="/payroll/run/{{period.start_date}}/{{period.end_date}}/run" onclick="confirmTransfer()">Tranfer</a> -->
    <button onclick='confirmTransfer("{{period.start_date}}", "{{period.end_date}}")'>Transfer</button>
{% endfor %}
<script>
  function confirmTransfer(start, end) {
    if(confirm("Are you sure you want to run payroll for " + start + " through " + end + "?")){
      window.location.href="/payroll/run/"+ start + "/" + end + "/run";
    };
  }
</script>
<!--
{% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %} -->